@import 'cc-ss_colors';

/* Base Styles */

body {
  padding: 0;
  margin: 0;
  background: darken($aqua, 10%);
  height: 100vh;

  td {
    border: none;
  }
}

/* Layout Styles */

.game {
  overflow: hidden;
  max-width: 100%;
  min-height: 100%;
  position: relative;
}

.actor {
  position: absolute;
}

/* Module Styles */

.background {
  background: darken($aqua, 10%);
  border-spacing: 0;
}

.lava {
  background: $red;
}

.wall {
  background: $silver;
}

.coin {
  background: $yellow;
  border-radius: 50%;
}

.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  -webkit-box-shadow: -4px -7px 8px $white, 4px -7px 8px $white;
  box-shadow: -4px -7px 8px $white, 4px -7px 8px $white;
}

.player {
  background: lighten($navy, 10%);
}

#lives {
  padding: 1%;
  color: $red;
  position: relative;
  top: 0;
}
